<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
			<link rel="stylesheet" href="/css/bootstrap.min.css">
			<script src="/js/jquery.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
		<!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
	</head>
	<body>
		<h1><%= title %></h1>
		<form action="" id="get_tasks_list_form">
		    <input type="hidden" name="id" value="1">
		    <button class="btn btn-primary" id="refresh_tasks_list_form">refreshData</button>
		</form>

		<form action="" id="get_tasks_list_form">
		    <input type="hidden" name="id" value="1">
		    <button class="btn btn-primary" id="refresh_tasks_list_form">refreshData</button>
		</form>

	    <div>
		    <table id="taskList" border="1px" width="500px">
		    </table>
	    </div>
	</body>
</html>

<script>
	$( document ).ready(function() {
		$("#refresh_tasks_list_form").click(getData());

		function refreshData(result) {
			resultData = '';
			$.each(result, function (num, row) {
				resultData = resultData+'<tr><td>'+row.id+'</td>'+'<td>'+row.title+'</td>'+'<td>'+row.date_sheduled+'</td>'+'<td>'+row.date_finished+'</td></tr>';
			});
			$('#taskList').append(resultData);
//			return false;
		}

		function alertData(data) {
			alert(data);
		}

		function getData() {
			var ajaxOptions = {
				type: "POST",
				url: '/getTasks',
				data: $("#get_tasks_list_form").serialize(),
			};
			$.ajax(ajaxOptions)
				.done(function (data) {
//					alertData(data);
					refreshData(data);
				})
				.fail(function (data) {
					alertData('fail');
				});
//				.always(function (data) {
//					alertData('always');
//				});

		}
	});
</script>