<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
			<link rel="stylesheet" href="/css/bootstrap.min.css">
			<script src="/js/jquery.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/javascripts/main.js"></script>
			<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<a class="btn btn-primary" id="refresh_tasks_list_submit">refreshData</a>

		<br />
	    <table id="taskList" class="table table-striped table-bordered">
		    <thead>
			    <th>id</th>
			    <th>title</th>
			    <th>Description</th>
			    <th>Date Scheduled</th>
			    <th>Date Finished</th>
			    <th>Task Actions</th>
		    </thead>
	    </table>

		<h4>Add New Task</h4>
		<form action="" id="insert_new_task">
			<label for="title">Title</label>
			<input type="text" id="title" name="title" >
			<label for="description">Description</label>
			<input type="text" id="description" name="description" >
			<label for="date_scheduled">Date Scheduled</label>
			<input type="date" id="date_scheduled" name="date_scheduled" >
			<button class="btn btn-primary" id="insert_new_task_submit">addTask</button>
		</form>
	</body>
</html>